@using RightPath.Models.NewModelView
@model IEnumerable<RightPath.Models.Webminar>

@{
    ViewData["Title"] = "Webminars";
}

<div class="container pt-4 pb-3">
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="text-primary">Webminars List</h1>
        </div>
        <div class="col-12 text-end">
            <a class="btn btn-primary" asp-action="Create">
                <i class="bi bi-plus-circle"></i> Create New
            </a>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-10 mt-4">
                    <div class="p-3">
                        <img class="card-img-top rounded-circle mx-auto d-block" src="~/Images/@item.WebminarLogo" alt="Profile Image" style="width: 150px; height: 150px; object-fit: cover;" />
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text text-sm">@Html.DisplayFor(modelItem => item.WebminarDescription)</p>
                        <h6 class="card-subtitle mb-2 text-muted">Location: @Html.DisplayFor(modelItem => item.WebminarLocation)</h6>
                        <div>
                            <p>@Html.DisplayFor(modelItem => item.Courses_Lectures)</p>
                        </div>

                        <div>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light btn-sm">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
