@model IEnumerable<ApplicationUser>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary py-2">Лист от Потребители</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table id="usersTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Име</th>
                    <th>Имейл</th>
                    <th>Телефонен Номер</th>
                    <th>ЕГН</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @* Проблем със дисплейването на Името? *@
                            @item.UserName
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            @item.EGN
                        </td>
                        <td>
                            <div class="btn-group badge" role="group">
                                @* Да направя нови изгледи за редактиране и за изтриване и да добавя функционалността във контролера*@
                                <a asp-controller="Lectures" asp-action="Upsert" asp-route-id="@item.Id" class="shadow btn btn-light mx-2 px-4">
                                    <i class="bi bi-pencil-square"></i> Редактирай
                                </a>
                                <button type="button" class="btn btn-danger mt-2" onclick="deleteUser('@item.Id')">Изтрий</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        function deleteUser(userId) {
            if (confirm('Сигурни ли сте, че искате да изтриете този потребител?')) {
                $.ajax({
                    url: '/Admin/User/Delete',
                    type: 'POST',
                    data: { userId: userId },
                    success: function (result) {
                        // Optionally handle success (e.g., show a message)
                        console.log(result);
                        location.reload(); // Refresh the page or update the table as needed
                    },
                    error: function (error) {
                        console.error('Error deleting user:', error);
                        // Optionally handle errors (e.g., show an error message)
                    }
                });
            }
        }
    </script>
}


