@model RightPath.Models.Webminar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Webminar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecture1Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecture1Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecture2Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecture2Id)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-light btn-md" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-link btn-md" asp-action="Index">Back to List</a>
</div>
