@model HomeViewModel

<style>
    .custom-card {
        height: 500px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .custom-card img {
            height: 60%;
            object-fit: cover;
            width: 90%;
        }

    .custom-card-body {
        height: 40%;
        overflow: hidden;
    }

    .custom-description {
        height:25px;
        overflow: hidden;
    }

    .details-btn{
        font-size: 0.6em;
        padding:3px 10px;
        width: 100%;
        margin: 0 auto;
        margin-top:10px;
    }

    .details-btn a{
        padding:10px 5px;
    }
</style>

<div class="row pb-3">
    <h3>Webminars</h3>
    @foreach (var webminar in Model.Webminars)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded custom-card" style="min-height:250px;">
                        <img src="@webminar.Logo" class="card-img-top rounded" />
                        <div class="custom-card-body">
                            <p class="card-title pt-2 h5 text-dark opacity-75 text-uppercase text-center" style="min-height:50px;">@webminar.Title</p>
                            <p class="card-title text-warning text-center">by <b>@webminar.Lecture.Name</b></p>
                            <div class="custom-description">
                                <p class="card-title text-dark text-opacity-75 text-center">@webminar.Description</p>
                            </div>
                            <div class="details-btn">
                                <a asp-action="WebminarDetails" asp-route-webminarId="@webminar.Id" class="btn btn-dark bg-gradient border-0 rounded form-control">Детайли</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <hr/>
    <h3>Courses</h3>
    @foreach (var course in Model.Courses)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded custom-card" style="min-height:250px;">
                        <img src="@course.Logo" class="card-img-top rounded" />
                        <div class="custom-card-body">
                            <p class="card-title pt-2 h5 text-dark opacity-75 text-uppercase text-center" style="min-height:50px;">@course.Title</p>
                            <p class="card-title text-warning text-center">by <b>@course.Lecture.Name</b></p>
                            <div class="custom-description">
                                <p class="card-title text-dark text-opacity-75 text-center">@course.Description</p>
                            </div>
                            <div class="details-btn">
                                <a asp-action="CourseDetails" asp-route-courseId="@course.Id" class="btn btn-dark bg-gradient border-0 rounded form-control">Детайли</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
